<div class="Table">
    <p-table #dt1 [value]="students" responsiveLayout="scroll" class="custom-table">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-right p-ml-auto">
            <h4 style="margin-right: 60rem;">Student</h4>
          </span>
          <span class="p-input-icon-left p-ml-auto">
            <input type="text" placeholder="Filter the student" [(ngModel)]="filteredValue" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Date</th>
          <th>Email</th>
          <th>Gender</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element>
        <tr *ngIf="!filteredValue || (element.firstName.toLowerCase().includes(filteredValue.toLowerCase()) || element.lastName.toLowerCase().includes(filteredValue.toLowerCase()))">
          <td>{{element.firstName}}</td>
          <td>{{element.lastName}}</td>
          <td>{{element.dateOfBirth | date : 'dd/MM/YYYY'}}</td>
          <td>{{element.email}}</td>
          <td>{{element.gender.description}}</td>
        </tr>
      </ng-template>
      
    </p-table>
  </div>
  